[Unit]
Description=Chrono Swarm Watchdog
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/cs-watchdog
Restart=always
User=chrono

[Install]
WantedBy=multi-user.target
